body{
    margin:0;
    padding: 0;
}
a{
    display: block;
}
textarea{
    border:none;
    box-shadow:1px 2px 20px 5px #51ffd4;
    outline: none;
    width:320px;
    height: 60vh;
    border-radius: 20px;
    padding: 20px;
}
.main_container{
    text-align: center;
}

.insta{
    width: 100px;
    margin-bottom: 10px;
}

h1{
    font-family: 'Black Han Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray; 
}


.go-make{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow:1px 2px 2px 2px aquamarine;
    background-color: aquamarine;
    outline: 0;
    color: black;
}